/* font-family: 'Bungee Inline', cursive;
font-family: 'Black Ops One', cursive; */
.jumbotron {
    background-image: url('../images/banner.gif');
    background-size:cover;
    font-family: 'Black Ops One', cursive;
}
.text-shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; // black outline text
}
#clock, #clockHeader {
    font-family: 'Black Ops One', cursive;
}